h1:first-child{
    color: brown;
}
p::first-line{
    color: rgb(151, 235, 6);
    font-weight: bold;
    font-size: 24px;
}
/* h1::after{
    content: "hello ";
} */
h1::before{
    content: "hello ";
}